body {
    background: #0a0a0f;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
}

.titulo {
    text-align: center;
    font-size: 36px;
    margin-top: 25px;
    color: #a356ff;
}

.intro {
    text-align: center;
    color: #bfbfbf;
    width: 70%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 35px;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 40px;
}

.categorias a {
    background: #1a1a24;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #a356ff;
    border: 1px solid #6f00ff;
    transition: .3s;
}

.categorias a:hover {
    background: #6f00ff;
    color: #fff;
    box-shadow: 0 0 12px #a356ff;
}

.secao {
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

.subtitulo {
    font-size: 26px;
    color: #c487ff;
    margin-bottom: 20px;
}

.grid-curiosidades {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: #15151d;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
    border: 1px solid #32104e;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px #6f00ff;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #c487ff;
}

.card p {
    font-size: 14px;
    color: #bcbcbc;
}

.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p{
    padding: 5px 0 20px 0;
}


@media screen and (max-width: 2560px) {

    .conteudo {
        width: 80%;
        margin: auto;
    }

    .grid-curiosidades {
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        gap: 15px; 
        width: 100%;
        justify-items: center;
    }

    .card {
        width: 350px;
        height: 480px;
        border-radius: 16px;
    }

    .card img {
        height: 240px;
        object-fit: cover;
    }

    .titulo {
        font-size: 50px;
    }

    .subtitulo {
        font-size: 34px;
    }

    .card h3 {
        font-size: 22px;
    }

    .card p {
        font-size: 16px;
    }
}

@media screen and (max-width: 2245px) {
    .grid-curiosidades{
        width:60%;
        align-items: center;
        justify-content: center;
        margin: 0 20%;
    }

    .subtitulo{
        text-align: center;
    }
}

@media screen and (max-width: 1850px) {
    .grid-curiosidades {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 95px;
    }

    .card {
        width: 380px;
        height: 380px; 
        display: flex;
        flex-direction: column;
    }

    .card img {
        height: 200px; 
        object-fit: cover;
    }


    .subtitulo{
        text-align: center;
    }
}


@media screen and (max-width: 1400px) {
    .grid-curiosidades{
        width:60%;
        align-items: center;
        justify-content: center;
        margin: 0 20%;
    }

    .subtitulo{
        text-align: center;
    }
}

@media screen and (max-width: 1185px) {

    .grid-curiosidades {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        justify-items: center;
    }

    .card {
        width: 380px;
        height: 380px; 
        display: flex;
        flex-direction: column;
    }

    .card img {
        height: 200px; 
        object-fit: cover;
    }
}


@media screen and (max-width: 1230px) {
      .cabecalho {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .container-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-texto {
        font-size: 12px;
        display: block;
        margin-top: 4px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .menu p,
    .item-menu {
        font-size: 15px;
        padding: 6px 0;
    }

    .secao{
        align-items: center;
        justify-content: center;
    }

    .categorias{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        text-align: center;
    }


    .titulo{
        font-size:  120%;
    }

    .card{
        width: 80%;
        height: 100%;
    }
}

