@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Poppins:wght@400;600&display=swap");


body {
  background-color: #0a0612;
  color: #ededed;
  font-family: "Poppins", sans-serif;
}

.principal {
  text-align: center;
  padding: 30px 5%;
}

.titulo {
  font-family: "Orbitron", sans-serif;
  color: #8a2be2;
  font-size: 36px;
  margin-bottom: 10px;
}

.descricao {
  color: #bfbfbf;
  margin-bottom: 40px;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.video-container {
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16/9;
  border: 2px solid #8a2be2;
  border-radius: 10px;
  box-shadow: 0 0 25px #8a2be2;
  margin-bottom: 20px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.video-texto {
  width: 80%;
  max-width: 800px;
  color: #ccc;
  font-size: 15px;
}

.noticias-relacionadas {
  margin-top: 40px;
}

.subtitulo {
  color: #8a2be2;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #181123;
  border: 1px solid #8a2be2;
  border-radius: 10px;
  width: 280px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #8a2be2;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
  color: #ff66ff;
  font-family: "Orbitron", sans-serif;
}

.card p {
  margin: 0 10px 15px;
  color: #bbb;
  font-size: 14px;
}

.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p{
    padding: 5px 0 20px 0;
}

@media screen and (max-width: 1230px) {
      .cabecalho {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .container-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-texto {
        font-size: 12px;
        display: block;
        margin-top: 4px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .menu p,
    .item-menu {
        font-size: 25px;
        padding: 6px 0;
    }

}