@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0612;
  color: #ededed;
}

.titulo {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #8a2be2;
  margin: 30px 0;
}

.descricao {
  color: #bfbfbf;
  margin-bottom: 40px;
}

.banner img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 2px solid #8a2be2;
  box-shadow: 0 0 20px #8a2be2;
  margin-bottom: 40px;
}

.subtitulo {
  text-align: center;
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 15px;
}

table {
  width: 100%;
  margin: 0 auto 50px auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #8a2be2;
  box-shadow: 0 0 12px rgba(138, 43, 226, 0.3);
}

th, td {
  border: 1px solid #8a2be2;
  padding: 10px;
}

th {
  background-color: rgba(138, 43, 226, 0.2);
  color: #ff00ff;
}

td {
  background-color: rgba(255, 255, 255, 0.05);
}

.tabela tr:nth-child(even) {
  background-color: #130a1f;
}

.tabela tr:hover {
  background-color: #1f1430;
  transition: 0.3s;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 40px;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #8a2be2;
  border-radius: 10px;
  text-align: center;
  width: 260px;
  padding: 15px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
  border-color: #ff00ff;
  cursor: pointer;
}

.card h3 {
  color: #8a2be2;
  font-family: "Orbitron", sans-serif;
}

.card p {
  font-size: 14px;
  color: #ccc;
}

.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p {
  padding: 20px 20px;
}

@media screen and (max-width: 1230px) {
      .cabecalho {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .container-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-texto {
        font-size: 12px;
        display: block;
        margin-top: 4px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .menu p,
    .item-menu {
        font-size: 18px;
        padding: 6px 0;
    }

}
