
.intro-section{
  margin-top: 15px;
}

.subtitulo {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  color: #00ffff;
  text-shadow: 0 0 10px #8a2be2;
  text-align: center;
  margin: 60px 0 20px 0;
}

.subtitulo2 {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  color: #00ffff;
  text-shadow: 0 0 10px #8a2be2;
  text-align: center;
  margin: 60px 0 20px 0;
  margin-right: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardnoticia {
  background-color: #0e0e1a;
  border: 2px solid #8a2be2;
  border-radius: 12px;
  box-shadow: 0 0 15px #8a2be280;
  width: 320px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px 15px 0 15px;
}

.cardnoticia:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ffff;
}

.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p{
    padding: 15px 0;
}

@media screen and (max-width: 1300px) {
      .cabecalho {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .container-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-texto {
        font-size: 12px;
        display: block;
        margin-top: 4px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .menu p,
    .item-menu {
        font-size: 25px;
        padding: 6px 0;
    }

  .intro-section{
    align-items: center;
    text-align: center;
  }

  .cards{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .cardnoticia{
    height: 500px;
  }

  .subtitulo2{
    margin-right: 0;
  }

}