.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.cardnoticia {
  background-color: #151021;
  border: 1px solid #8a2be2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
  transition: box-shadow 0.3s ease;
  width: 300px;
  overflow: hidden;
}

.cardnoticia:hover {
  box-shadow: 0 0 35px #00ffff;
  cursor: pointer;
}

.intro-section {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 800px;
}

.titulo-principal {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  color: #00ffff;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #8a2be2;
}

.descricao-pagina {
  color: #bbb;
  font-size: 15px;
  line-height: 1.5;
}

.descricao-card {
  font-size: 13px;
  color: #ccc;
  padding: 10px 15px 10px 10px;
}

.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p{
    padding: 0 0 20px 0;
}

@media screen and (max-width: 1300px) {
      .cabecalho {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .container-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-texto {
        font-size: 12px;
        display: block;
        margin-top: 4px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .menu p,
    .item-menu {
        font-size: 25px;
        padding: 6px 0;
    }
}