body {
  background: #0a0a0f;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
}

.titulo {
  text-align: center;
  font-size: 36px;
  margin: 25px 0;
  color: #a356ff;
}


.categorias {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 30px;
}

.categorias a {
  background: #1a1a24;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  color: #a356ff;
  border: 1px solid #6f00ff;
  transition: 0.3s;
}

.categorias a:hover {
  background: #6f00ff;
  color: #fff;
  box-shadow: 0 0 12px #a356ff;
}


.grid-noticias {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding-bottom: 15px;
}

.card {
  background: #15151d;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid #32104e;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px #6f00ff;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 280px;
}

.card-info {
  padding: 15px;
}

.tag {
  font-size: 12px;
  background: #6f00ff;
  padding: 4px 10px;
  border-radius: 6px;
}

.jogos {
  background: #9400ff;
}
.filmes {
  background: #ff0084;
}
.series {
  background: #ff5100;
}
.animes {
  background: #008cff;
}
.livros {
  background: #354fe1;
}
.manga {
  background: #04381f;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #c487ff;
}

.card p {
  font-size: 14px;
  color: #bcbcbc;
}

.btn-ler {
  display: inline-block;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #6f00ff;
  padding: 6px 12px;
  border-radius: 6px;
  color: #a356ff;
  text-decoration: none;
  transition: 0.3s;
}

.btn-ler:hover {
  background: #6f00ff;
  color: #fff;
  box-shadow: 0 0 10px #a356ff;
}


.rodape {
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #361260;
}

.rodape p{
    padding: 5px 0 20px 0;
}

