@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0612;
  color: #ededed;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
  color: #8a2be2;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2%;
  justify-content: space-around;
  gap: 25%;
}

.logo-texto{
  position: relative;
  bottom: 50px;
  color: #ededed;
  text-shadow: 0 2px 3px #8a2be2;
}

.logo {
  height: 120px;
}

.menu {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.dropdown {
  position: relative;
}

.dropdown-conteudo {
  display: none;
  position: absolute;
  background-color: #151021;
  border: 1px solid #8f39df9b;
  border-radius: 6px;
  min-width: 180px;
  box-shadow: 0 0 15px rgba(138, 43, 226, 0.4);
  z-index: 10;
  text-align: left;
  top: 28px;
}

.dropdown-conteudo a {
  color: #ededed;
  padding: 10px 15px;
  display: block;
  transition: all 0.3s ease;
}

.dropdown:hover .dropdown-conteudo {
  display: block;
}


.menu a{
 color: #8a2be2;
 border: 1px solid transparent;
 border-radius: 5px;
 padding: 2px 5px;
 transition: all 0.4s ease;
}

.menu p{
 color: #8a2be2;
 border: 1px solid transparent;
 border-radius: 5px;
 padding: 2px 5px;
 transition: all 0.4s ease;
}

.menu img{
  position: relative;
   padding: 2px;
   top: 3px;
}

.menu a:hover {
    color: #ff00ff;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    padding: 2px 5px;
}

.menu p:hover {
    color: #ff00ff;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: default;
}

header{
    border-bottom: 1px dotted #00FFFF;
}

.principal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardprincipal{
  display: flex;
  height: 480px;
  width: 1000px;
  border-radius: 7px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imagem-molde{
  border-radius: 10px;
  box-shadow: 0 0 25px #00ffff;
  transition: all 0.5s ease;
  filter: brightness(70%);
}

.imagem-molde:hover {
  filter: brightness(90%);
  transform: scale(1.03);
  cursor: pointer;
}

.titulo-noticias {
  font-size: 26px;
  text-align: center;
  color: #00ffff;
  margin: 30px 0 10px 0;
  letter-spacing: 2px;
  border-bottom: 1px solid #8a2be2;
  padding-bottom: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.cardnoticia {
  background-color: #151021;
  border: 1px solid #8a2be2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
  transition: box-shadow 0.3s ease;
  width: 300px;
  overflow: hidden;
}

.cardnoticia:hover {
  box-shadow: 0 0 35px #00ffff;
  cursor: pointer;
}

.texto-noticia {
  font-size: 14px;
  color: #ededed;
  padding: 10px;
}

.rodape {
  background-color: #0a0612;
  border-top: 1px solid #8a2be2;
  margin-top: 20px;
  padding: 40px 20px 10px 20px;
  color: #ededed;
  font-family: "Poppins", sans-serif;
}

.container-rodape {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row-reverse;
}

.coluna {
  width: 30%;
}

.logo-rodape {
  height: 100px;
}

.coluna h3 {
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 10px;
}

.coluna ul {
  list-style: none;
}

.coluna ul li a {
  color: #8a2be2;
  transition: color 0.3s ease;
}

.coluna ul li a:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.redes{
  display: flex;
  flex-direction: column;
}

.redes a {
  margin-bottom: 5px;
  color: #8a2be2;
  font-weight: 600;
  transition: 0.3s ease;
  max-width: 25%;
}

.redes a:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.descricao-rodape {
  font-size: 14px;
  color: #bbb;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 30px;
  border-top: 1px solid #8a2be2;
  padding-top: 10px;
}

@media screen and (max-width: 1380px) {
  .menu {
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .cabecalho{
    flex-direction: column;
    padding-bottom: 4%;
  }

  .cabecalho img.logo {
    width: 160px;
  }

  .principal, .conteudo {
    padding: 20px;
  }

  .cards{
    width: 60%;
  }

  .cardprincipal{
    width: 50%;
  }
}

@media screen and (max-width: 1150px) {
  .cards{
    width: 100%;
  }
}








